@use "./utils" as *;

/**
    Function c() = clamp(); // it will return clamp() with three values;
*/

@mixin team-member-card {
    .team-member-card {
        --avatar-width: 495px;
        --avatar-order: 0;
        --name-fsz: #{c(40px, 6vw, 64px)};
        --subtitle-fsz: #{c(30px, 4vw, 32px)};
        --subtitle-stroke-w: 2px;
        --content-max-w: #{c(200px, 35vw, 600px)};
        --content-order: 1;
        --content-ml: #{c(10px, 7vw, 120px)};
        --brief-fsz: 12px;
        --avatar-radius: 8rem;

        @include media-breakpoint-down(sm) {
            --brief-fsz: 10px;
        }

        @include media-breakpoint-down(xl) {
            --avatar-width: 300px;
            --avatar-radius: 3rem;
        }
        @include media-breakpoint-down(lg) {
            --avatar-width: 250px;
        }
        &__avatar {
            width: var(--avatar-width);
            flex-shrink: 0;
            aspect-ratio: 4 / 4.1373;
            margin-left: var(--card-ml);
            order: var(--avatar-order);

            & > img {
                width: 100%;
                height: 100%;
                border-radius: var(--avatar-radius);
                border: 3px solid transparent;
                background: linear-gradient(90deg, #faa61c -3.56%, rgba(255, 157, 0, 0.387) 97.15%) border-box;
            }
        }

        &__content {
            width: var(--content-max-w);
            margin: var(--content-ml);
            order: var(--content-order);

            @include media-breakpoint-down(xxl) {
                margin-top: 0px;
            }

            &-name {
                font-size: var(--name-fsz);
                line-height: 0.9em;
                letter-spacing: 4px;
            }

            &-subtitle {
                font-size: var(--subtitle-fsz);
                -webkit-text-stroke: var(--subtitle-stroke-w) #faa61c;
                color: transparent;
            }

            &-brief {
                font-size: var(--brief-fsz);
                color: #636363;
                font-weight: 700;
                line-height: 15px;
            }
        }
    }

    .team-member-card.smallCard {
        --avatar-width: 160px;
        --avatar-radius: 3.5rem;
        --content-ml: 20px;
        --content-max-w: auto;
        --name-fsz: 36px;
        --subtitle-stroke-w: 1px;
        --subtitle-fsz: 17px;
        --brief-fsz: 10px;

        @media screen and (max-width: 1600px) {
            --name-fsz: #{c(18px, 3vw, 25px)};
        }

        @include media-breakpoint-down(lg) {
            --avatar-radius: 1rem;
            --name-fsz: #{c(18px, 3vw, 30px)};
            --subtitle-fsz: 14px;
            --content-ml: 0px;
            --avatar-width: 100%;

            .team-member-card__content-flex {
                flex-wrap: wrap;
                flex-direction: column;
            }
            .team-member-card__content {
                margin-top: 2vw;
                text-align: center;
            }
        }

        .team-member-card__content-subtitle {
            letter-spacing: 2px;
            -webkit-text-stroke-width: 0.5px;
        }

        .team-member-card__content-name {
            letter-spacing: 2px;
        }

        @include media-breakpoint-down(md) {
            --name-fsz: 23px;
            --subtitle-stroke-w: 0.5px;
            --brief-fsz: 8px;
            --subtitle-fsz: 12px;
            .team-member-card__content {
                text-align: center;
                margin-top: 2vw;
            }
        }
        @include media-breakpoint-down(sm) {
            --name-fsz: 18px;
        }
    }
}

@mixin global-image-viewer {
    .global-image-slider,
    .global-image-viewer {
        z-index: $nav-z-index + 5;
    }
}

@mixin loadingScreen() {
    .loading-screen {
        position: fixed;
        z-index: $nav-z-index + 1000;
        width: 100%;
        height: 100vh;
        background: #000;
        top: 0px;
        left: 0px;

        .loading-screen__content-outer {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
        }
    }

    .loading-screen__content {
        .loading-screen__gif {
            max-width: 600px;
            width: 100%;
            position: relative;
            z-index: 1;
            .loading-text {
                position: absolute;
                top: 50%;
                color: rgba(255, 255, 255, 0.563);
                left: 50%;
                z-index: -1;
                font-size: 25px;
                transform: translate(-50%, -30%);

                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                }
            }
        }

        .loading-screen__loading-progress {
            .progress-bar {
                width: 100%;
                height: 20px;
                position: relative;
                z-index: 1;
                background: #202020cc;
                border-radius: 20px;
                margin-top: 3rem;
                .progress-bar-inner {
                    border-radius: 20px;
                    position: absolute;
                    width: 10%;
                    height: 100%;
                    background: #faa61c;
                    border: #1a1a1a 4px solid;
                    animation: home-screen-progressbar-loading ease-in-out 1;
                    animation-fill-mode: forwards;
                }

                @include media-breakpoint-down(sm) {
                    width: 80%;
                    height: 15px;
                    margin: auto;
                    margin-top: 3rem;
                }
            }
        }
    }
}
