@use "./utils" as *;

@mixin section-hero {
    #hero-section {
        width: 100%;
        --border-width: 3px;
    }

    .hero-section-wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        margin-top: 2rem;

        @include media-breakpoint-down(lg) {
            margin-top: 4rem;
        }
    }

    .header-bg {
        width: 100%;

        & > img {
            width: 100%;
        }
    }

    .hero-monkey {
        width: 43%;

        & > img {
            width: 100%;
        }
    }

    .walking-monkey {
        .walking-monkey__area {
            position: relative;
            z-index: 1;
            .walking-monkey__image {
                width: 100%;
            }
            .behind-text {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                z-index: -1;

                & > h3.text {
                    letter-spacing: 1em;
                }
            }
        }
    }
}

@mixin section-gallery {
    #nfts-gallery {
        padding: 5rem 0px;
        width: 100%;
        overflow-x: hidden;
    }

    .gallery-wrapper__wrapper {
        max-width: 1530px;
        aspect-ratio: 12 / 6.517;
        margin: auto;
    }

    .nft-gallery-img-card {
        position: absolute;
        --img-border-width: 8px;
        --img-border-radius: 5px;
        --img-blur: 5px;
        --base-transition: 0.3s;
        top: 0%;
        left: 0%;
        transition: var(--base-transition);

        &.nft {
            &.nft-1 {
                width: 13.202614379084967%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-2 {
                width: 17%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-3 {
                width: 15.816993464052288%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-4 {
                width: 15.816993464052288%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-5 {
                width: 15.816993464052288%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-6 {
                width: 12.549019607843137%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-7 {
                width: 13.72549019607843%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-8 {
                width: 17.77777777777778%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-9 {
                width: 18.69281045751634%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-10 {
                width: 11.568627450980392%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-11 {
                width: 12.549019607843137%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.nft-12 {
                width: 9.607843137254902%;
                aspect-ratio: 1 / 1;

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        & > img {
            border: var(--img-border-width) solid black;
            border-radius: var(--img-border-radius);
            filter: blur(var(--img-blur));
            cursor: pointer;
            transition: var(--base-transition);
        }

        &:not(.active) {
            & > img {
                &:hover {
                    transform: scale(1.1);
                    --img-blur: 0;
                }
            }
        }

        &.active {
            --img-border-width: 4px;
            --img-border-radius: 10px;
            --img-blur: 0px;
            display: block;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 40.2614379085% !important;
            aspect-ratio: 1/1;

            @include media-breakpoint-down(sm) {
                width: 70% !important;
            }

            & > img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@mixin section-about {
    section#about {
        padding: c(25px, 5vw, 50px) 0;
        position: relative;
    }

    .big-monkey {
        width: c(500px, 45vw, 931px);

        @include media-breakpoint-down(lg) {
            position: absolute;
            width: 100%;
            z-index: -1;
            opacity: 0.2;
            height: 100%;
            top: 0px;

            & > img {
                width: 100%;
                height: 100%;
            }
        }

        & > img {
            width: 100%;
        }
    }

    .about-desc {
        .desc {
            p {
                font-size: 20px;

                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                }
            }
        }

        .logo {
            // width: c(150px,);
        }
    }
}

@mixin section-video {
    #video-section {
        padding: c(50px, 8.75vw, 168px) 0px;
        --video-radius: #{c(10px, 2.5vw, 40px)};
        & > .title > h1 {
            -webkit-text-stroke: 2px $warning;
            font-size: c(30px, 3.33vw, 64px);
            letter-spacing: 0.3em;
        }
    }

    .video-area {
        width: 100%;

        .video-container {
            max-width: 1756px;
            width: 95%;

            position: relative;
            aspect-ratio: 16/9.252;
            border-radius: var(--video-radius);
            overflow: hidden;
            border: 5px solid transparentize($color: $warning, $amount: 0.3);
            box-shadow: 0px 4px 65px 11px rgba(250, 166, 28, 0.3);

            z-index: 1;

            .play-pause-icon {
                position: absolute;
                width: 20%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

@mixin section-partners {
    #partners {
        padding: 7rem 0px;

        & > .title {
            padding: 1.5rem 0px;
            margin-bottom: 5.17rem;

            & > img {
                width: c(200px, 40vw, 390px);
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 2rem 10px;

            & > .title {
                margin-bottom: 1rem;
            }
        }
    }

    .partners-logo-container {
        max-width: 1353px;
        margin: auto;

        .partners-logo-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            padding: 10px;
            width: 100%;

            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(4, 1fr);
                margin: auto;
                gap: 20px;
                padding: 0px;
            }

            @include media-breakpoint-up(xl) {
                grid-template-rows: repeat(3, calc(143px + 10px));
            }
        }

        .partner-logo {
            & > img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@mixin section-artwork-gallery {
    #artwork-gallery {
        padding: 4rem 2rem;

        @include media-breakpoint-up(xxl) {
            padding: 4rem;
        }
    }

    .artwork-gallery-container {
        max-width: 1920px;
        margin: auto;
    }

    .artwork-gallery-grid {
        position: relative;
        margin: auto;

        @include media-breakpoint-down(md) {
            max-width: 450px;

            & > [class*="card-"] {
                margin-bottom: 20px;
            }
        }

        @include media-breakpoint-up(md) {
            gap: 20px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-auto-rows: 50px;
            max-width: 833px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 100%;
            grid-gap: 1.5rem;
            grid-auto-rows: 90px;
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 0px;
            left: 0px;
            background-image: linear-gradient(179deg, rgb(0 0 0 / 0%) 27.9%, rgba(0, 0, 0, 0) 27.91%, rgba(0, 0, 0, 0) 27.92%, #000000ed 81.11%);

            @include media-breakpoint-down(sm) {
                height: 50%;
                inset: auto auto 0 auto;
            }
        }

        .artwork-gallery-img-card {
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;

                @include media-breakpoint-up(xxl) {
                    border-radius: 3rem;
                }
            }

            &.card-1 {
                @include media-breakpoint-up(md) {
                    grid-column: 1 / 8;
                    grid-row: 1 / 5;
                }

                @include media-breakpoint-up(xl) {
                    grid-column: 1 / 6;
                    grid-row: 1 / 5;
                }
            }

            &.card-2 {
                @include media-breakpoint-up(md) {
                    grid-column: 8 / 13;
                    grid-row: 1 / 5;
                }

                @include media-breakpoint-up(xl) {
                    grid-column: 6 / 9;
                    grid-row: 1 / 5;
                }
            }

            &.card-3 {
                @include media-breakpoint-up(md) {
                    grid-column: 1 / 5;
                    grid-row: 5 / 11;
                }

                @include media-breakpoint-up(xl) {
                    grid-column: 9 / 13;
                    grid-row: 1 / 7;
                }
            }

            &.card-4 {
                @include media-breakpoint-up(md) {
                    grid-column: 5 / 13;
                    grid-row: 5 / 11;
                }

                @include media-breakpoint-up(xl) {
                    grid-column: 1 / 6;
                    grid-row: 5 / 11;
                }
            }

            &.card-5 {
                @include media-breakpoint-up(md) {
                    grid-column: 1 / 8;
                    grid-row: 11/ 14;
                }

                @include media-breakpoint-up(xl) {
                    grid-column: 6 / 13;
                    grid-row: 7 / 11;
                }
            }

            &.card-6 {
                @include media-breakpoint-up(md) {
                    grid-column: 1/ 9;
                    grid-row: 14 / 19;
                }

                @include media-breakpoint-up(xl) {
                    grid-column: 1 / 8;
                    grid-row: 11 / 17;
                }
            }

            &.card-7 {
                @include media-breakpoint-up(md) {
                    grid-column: 9 / 13;
                    grid-row: 14 / 19;
                }

                @include media-breakpoint-up(xl) {
                    grid-column: 8 / 13;
                    grid-row: 11 / 17;
                }
            }

            &.card-8 {
                @include media-breakpoint-up(md) {
                    grid-column: 8 / 13;
                    grid-row: 11 / 14;
                }

                @include media-breakpoint-up(xl) {
                    grid-column: 6 / 9;
                    grid-row: 5 / 7;
                }
            }
        }
    }
}

@mixin section-media {
    #media > .title {
        h1 {
            font-size: 24px;
            line-height: 265.7%;
            letter-spacing: 1.74em;
            color: #d9d9d9;
            padding: 5vw;
        }
    }

    .media-slider-card {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 3rem;
        border: 5px solid transparent;
        background: linear-gradient(90deg, #faa61c -0.9%, #750001 80.9%) border-box, linear-gradient(black, black) padding-box;

        .card-bg {
            width: 100%;
            height: 100%;

            // position: absolute;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 3rem;
                box-shadow: 0px 4px 40px 33px rgba(0, 0, 0, 0.7);
            }
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            top: 0px;
            left: 0px;
            z-index: 1;
            border-radius: inherit;
        }

        .card-content {
            position: absolute;
            top: 50%;
            width: 100%;
            z-index: 2;
            transform: translateY(-50%);
        }

        @include media-breakpoint-down(sm) {
            border-radius: 10px;

            .card-bg > img {
                border-radius: 10px;
            }

            .card-content .title > h1 {
                font-size: c(20px, 5vw, 35px);
            }

            .card-content .below-title > h1 {
                font-size: c(25px, 6vw, 40px);
            }
        }
    }
}

@mixin section-team {
    /* Team Card Component and Parent Component Related Responsive code is in Global  File */
    #section-team {
        --border-width: 5px;
        --border-y: linear-gradient(90deg, rgba(250, 166, 28, 0) 1.24%, rgba(235, 33, 50, 0.5) 52.02%, rgba(250, 166, 28, 0) 100.92%);
    }
    .team-title {
        position: relative;
        z-index: 1;

        .title {
            position: absolute;
            top: 20%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, 0);

            & > h1 {
                font-size: c(40px, 5vw, 96px);
                color: $warning;
                letter-spacing: 0.2em;
            }
        }
    }

    .team-members-container {
        padding: 0 5vw 0px 5vw;
        margin-top: -282px;
        position: relative;
        z-index: 2;
    }

    .team-members-mixed-cards {
        padding: c(100px, 7vw, 150px) 0px;
    }
}

@mixin section-about2 {
    #about-2 {
        padding: c(50px, 8.75vw, 168px) 0px;
        & > .container-1920 {
            padding: 0px c(10px, 6.979vw, 134px);
        }
    }
    .desc {
        padding: 0px calc(100% / 12);
        p {
            font-size: 20px;
            margin-bottom: 0px;
            text-transform: uppercase;
            line-height: 1.2em;
        }
    }
}

@mixin section-roadmap {
    .roadmap-title {
        position: relative;
        isolation: isolate;
        .logo {
            width: c(100px, 17.8645vw, 343px);
            display: inline-block;
        }
        & > .title {
            font-size: c(40px, 3.3333vw, 64px);
            -webkit-text-stroke: 1px $warning;
        }

        .flying-paper {
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: c(100px, 40.83vw, 784px);
            @include media-breakpoint-down(md) {
                bottom: 30%;
            }
        }
    }

    .roadmap-images__container {
        width: 100%;
        background: black;
        position: relative;
    }
    .roadmap-images__wrapper {
        width: 100%;
        max-width: 1141px;
        aspect-ratio: 12 / 33.9807;
        margin: auto;
        position: relative;
        z-index: 1;
        .roadmap-images__image-card {
            position: absolute;
            filter: grayscale(1) blur(3px);
            transition: 0.3s;
            & > img {
                width: 100%;
            }
            &.roadmap-banner {
                width: 99.12357581069237%;
                aspect-ratio: 12 / 4.87002652519894;
                top: 0.5571030640668524%;
                left: 0.8764241893076249%;
                z-index: 1;
            }
            &.roadmap-stage-1 {
                width: 35.93339176161262%;
                aspect-ratio: 12 / 18.08780487804878;
                top: 14.329928814608481%;
                left: 63.71603856266434%;
                z-index: 1;
            }
            &.roadmap-stage-1-monkey {
                width: 68.53637160385627%;
                aspect-ratio: 12 / 18.092071611253196;
                top: 13.122872175796967%;
                left: 0.0876424189307625%;
                z-index: 1;
            }
            &.roadmap-stage-2 {
                width: 36.89745836985101%;
                aspect-ratio: 12 / 16.617577197149643;
                top: 31.10492107706592%;
                left: 60.91148115687993%;
                z-index: 1;
            }
            &.roadmap-stage-3 {
                width: 96.75723049956179%;
                aspect-ratio: 12 / 6.152173913043478;
                top: 50.10832559579078%;
                left: 0.175284837861525%;
                z-index: 1;
            }
            &.roadmap-stage-4 {
                width: 85.2760736196319%;
                aspect-ratio: 12 / 6.610483042137719;
                top: 83.07025688641288%;
                left: 2.716914986853637%;
                z-index: 3;
            }
            &.roadmap-stage-4-door {
                width: 100%;
                aspect-ratio: 12 / 6.562664329535496;
                top: 64.71680594243269%;
                left: 0%;
                z-index: 2;
            }
            &.roadmap-stage-4-floor {
                width: 96.14373356704645%;
                aspect-ratio: 12 / 12.109389243391066;
                top: 65.05725781491797%;
                left: 1.9281332164767746%;
                z-index: 1;
            }

            //This Class will be Dynamic;
            &.in-viewport {
                filter: grayscale(0) blur(0px);
            }
        }

        .roadmap-images__flying-paper {
            position: absolute;
            z-index: 1;
            & > img {
                width: 100%;
            }
            &.middle {
                width: 115.95528455284553%;
                aspect-ratio: 12 / 12;
                top: 28.691%;
                left: -46.626%;
            }
            &.bottom {
                width: 115.95528455284553%;
                aspect-ratio: 12 / 12;
                top: 78.242%;
                left: 86.152%;
            }
        }
    }
}

@mixin section-aru-verse {
    #aru-verse {
        .title {
            z-index: 1;
            position: relative;
            .small-title {
                font-size: 32px;
            }
            .main-title {
                font-size: 48px;
                -webkit-text-stroke: 1px #faa61c;
            }
        }

        .gif-image-container .gif-image-wrapper {
            text-align: center;
            margin-top: -40px;
            .gif-image {
                max-width: 759px;
                width: 759px;
                display: inline-block;
                & > img {
                    width: 100%;
                }
            }
        }
    }
}

@mixin footer {
    #footer {
        .footer-area {
            background: var(--bg-img) no-repeat center center / cover;
        }
        .footer-logo {
            width: 353px;
        }
        .footer-container {
            padding: 0px 7.96vw;
        }

        .footers-links {
            gap: 20px;
            .nav-item {
                .nav-link {
                    font-size: 22px;
                    color: white;
                    &:hover {
                        color: $warning;
                    }
                }
            }
        }
    }
}
