$white: #fff;
$black: #000000;
$warning: #faa61c;
$brown: #750001;
$red: #db383b;
$pink: #ea0d8c;
$blue: #0f58a5;
$body-bg: $black;
$green: #1ead4e;
$info: $pink;
$font-family-sans-serif: riffic;
$border-color: transparentize($white, 0.9);
$nav-z-index: 100;


@function c($x: 0, $y: 0, $z: 0) {
    @return clamp($x, $y, $z);
}

@mixin custom-scrollbar($color: null, $bg: null, $width: 0, $radius: 0) {
    &::-webkit-scrollbar {
        width: $width;
    }

    &::-webkit-scrollbar-track {
        background: $color;
    }

    &::-webkit-scrollbar-thumb {
        background: $bg;
        border-radius: $radius;
    }
}

@mixin font-sans {
    font-family: "Red Hat Display", sans-serif;
}
@mixin xs {
    @media screen and (max-width: 400px) {
        @content;
    }
}
